<html lang="en"><head>
	<meta charset="UTF-8">

	<title>DraftCrunch | Better Daily Fantasy Sports line-ups, faster.</title>

	
	<script src="<%= @url %>/assets/jquery-2.1.4.min.js"></script>
	<!-- Youtube Initializer -->
	<script>

		$(window).load(function(e){
			$('#videoTriggerButton').click(function(){
	    		$("#page-cover").css("opacity",0.9).fadeIn(300, function() {
	    			$('#youtubeVideo').fadeIn(300);
	    		});
	 		});
	 		$('#xOutOfVideo').click(function(){
	    		$("#youtubeVideo").fadeOut(300, function() {
	    			$('#page-cover').fadeOut(300);
	    		});
	 		});
		});
	</script>
	<!-- End Youtube Initializer -->

	<!-- Animation Source -->
	<script src="<%= @url %>/assets/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
    <script type="text/javascript" src="<%= @url %>/assets/app.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<!-- Roboto Fonts -->
	<link href="http://fonts.googleapis.com/css?family=Roboto:500,900italic,900,400italic,100,700italic,300,700,500italic,100italic,300italic,400" rel="stylesheet" type="text/css">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="<%= @url %>/assets/style.css">
	<link rel="stylesheet" type="text/css" href="<%= @url %>/assets/animations.css">
	<link rel="stylesheet" href="<%= @url %>/assets/animate.css">

	<!-- Favicon -->
	<link rel="shortcut icon" href="<%= @url %>/assets/favicon.ico" type="image/x-icon" />
	
</head>
<body>

	<!-- Youtube Video Cover Page -->
	
	<div id="page-cover"> <!-- Black Overlay -->
	</div>

	<!-- Youtube Video -->
	<div id="youtubeVideo">
		<a id="xOutOfVideo"><img src="<%= @url %>/assets/home/xbutton.png" style="cursor: pointer;"></a>
		<object id="ytplayer" style="height: 390px; width: 640px">
    		<param name="movie" value="http://www.youtube.com/v/Upd-07pbo40?version=3&amp;enablejsapi=1">
    		<param name="allowScriptAccess" value="always">
    		<embed id="ytplayer" src="http://www.youtube.com/v/Upd-07pbo40?version=3&amp;enablejsapi=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="640" height="390">
		</object>
	</div>

	<!-- End Youtube Video Cover Page -->
	
	<!-- Navigation -->
	<nav class="leftnavbar">
  		<div class="container-fluid">
    	</div>
    </nav>
    <!-- End The Navigation -->

<%
@user.method_ab = 0
%>

    <div class="container nopadding">
	<!-- Welcome Screen -->
	<div class="row nopadding Welcome">
        <div class="col-lg-12 nopadding header">
        	<center><img class="logo" src="<%= @url %>/assets/home/logo2.png"></center>
        	<h1 class="slogan">Better Daily Fantasy Sports line-ups, faster.</h1>
        	<div class="emailInputAndButton">

        <%= form_for @user, :url => { :action => "create" } do |f| %>
            <%= f.text_field :email, :placeholder => "Enter Email", :class => "emailInput" %>
            <input class="signUp" name="email" type="submit" value="Sign Up" />
	    <%= f.hidden_field :method_ab, :value => @user.method_ab %>	
        <% end %>

        	</div>
        	<div class="watchTutorialAndButton">	
        		<center>
        			<h1 class="watch">Watch Tutorial</h1>
        			<a id="videoTriggerButton"><img src="<%= @url %>/assets/home/watch.png" id="watchPosition" style="cursor: pointer;"></a>
        		</center>
        	</div>
    	</div>
    </div>
			
	<!-- Animated Icons -->
	    <div class="col-lg-12 nopadding" style="padding-top: 5em; padding-bottom: 5em;">

		        	<div class="col-md-offset-1 col-md-2 ">
		        		<img src="<%= @url %>/assets/home/clock.png" class="wow clock fadeInLeft  data-wow-duration= animated" 2s""="" style="position: relative; margin-left: -4em; visibility: visible; animation-name: fadeInLeft; -webkit-animation-name: fadeInLeft;"> 
		        		<img src="<%= @url %>/assets/home/hand.png" class="wow hand rotateIn  data-wow-duration= animated" 2s""="" style="position: relative; margin-left: 7em; margin-top: -15em; visibility: visible; animation-name: rotateIn; -webkit-animation-name: rotateIn;">
		        		<figcaption style="padding-left: 1em;">Spend Less Time Researching</figcaption>
		        	</div>

	        		<div class="col-md-offset-2 col-md-2">
	        			<img src="<%= @url %>/assets/home/Graphs.png" class="wow graphs fadeInLeft  data-wow-duration= animated" 2s""="" style="position: relative; margin-left: -5em; margin-top: 96px; visibility: visible; animation-name: fadeInLeft; -webkit-animation-name: fadeInLeft;">
						<figcaption>Analyze Complex Information</figcaption>
						<img src="<%= @url %>/assets/home/lines.png" class="wow lines fadeIn  data-wow-duration= animated" 2s"="" data-wow-delay="0.25s" "="" style="position: relative; margin-top: -39em; margin-left: -10em; visibility: visible; animation-delay: 1s; -webkit-animation-delay: 1s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
						
	        		</div>
	        			
	        		<div class="col-md-offset-2 col-md-2 ">
	        			<img src="<%= @url %>/assets/home/Trophy.png" style="margin-left: -6em; margin-top: 96px;visibility: visible; animation-name: rotateInUpLeft; -webkit-animation-name: rotateInUpLeft;" class="wow trophy rotateInUpLeft  data-wow-duration= animated" 2s""="">
	        			<figcaption style="margin-left: -74px;">Gain a Competitive Edge</figcaption>
	        		</div>
    	</div>
	</div>
	<!-- End Welcome Screen -->

	<!-- Parallax Screen -->
	    <div class="row Parallax nopadding">
	        <div class="col-md-12 ">
	        	<div class="features ">
	        	
	        		<h1>Optimization Tools</h1>
	        		<p>Gives you the tools that allow you to research on one site instead of ten. Find the paramteters that matter most to you and implement those findings instantaneously.</p> 
	        	</div>
	        </div>
	        <div class="col-sm-12 ">
	
	        	<div class="features">
	        		<h1>Data Scientists</h1>
	        		<p>The best Data in the business giving you better insights than any other site in the market place.</p>
	        	</div>
	        </div>
	        <div class="col-sm-12 ">
	        	<div class="features">
	        		<h1>Personal Analysis</h1>
	        		<p>Back test all of your choices and get personalized information, allowing you to know what is working and making you money.</p>
	        	</div>
	        </div>
	    </div>
	<!-- End Parallax Screen -->

	<!-- As Seen On (to be used when DC is featured) -->
			<!-- <div> 
				<h1 class="asSeenOnTitle">AS SEEN IN</h1>
			</div>

			<div class="asSeenOn">

				<div class="col-lg-12 asSeenOn" style="padding-right: 20em">
					<div class="col-md-offset-2 col-md-2">
							<img src="<%= @url %>/assets/home/tc.png" style="padding-top: 2.25em" class="wow fadeInLeft animated data-wow-duration="0.25s" data-wow-delay="0.0s"">
		    		</div>
		        		
		    		<div class="col-md-offset-2 col-md-2">
						<img src="<%= @url %>/assets/home/wsj.png" class="wow fadeInLeft animated data-wow-duration="0.25s" data-wow-delay="0.25s"">
		    		</div>

		    		<div class="col-md-offset-2 col-md-2">
						<img src="<%= @url %>/assets/home/vox.png" class="wow fadeInLeft animated data-wow-duration="0.25s" data-wow-delay="0.75s""> 
		        	</div>
				</div> 
			</div> -->
			    
	<!-- End As Seen On -->
		
	<!-- Footer -->
	<div class="footer">
		<div class="watchTutorialAndButton">	
	        <center>
	        		<h1 class="watchFooter">What are you waiting for?</h1>
	        </center>
	    </div>

		<div class="emailInputAndButton">
        <%= form_for @user, :url => { :action => "create" } do |f| %>
            <%= f.text_field :email, :placeholder => "Enter Email", :class => "emailInput" %>
            <input class="signUp" name="email" type="submit" value="Sign Up" />
	    <%= f.hidden_field :method_ab, :value => @user.method_ab %>	
        <% end %>
	       </div>
	</div>
	<!-- End Footer -->






</body>
</html>
